@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap%27');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../assets/imageedit_1_3065040776.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
  
  nav {
    overflow: hidden;
    background-color: rgb(241, 241, 241);
    opacity: 100%;
  }
  
  nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 100%;
    padding: 15px;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: black;
  }

  .logo {
    width: 4em;
  }

  .info-name {
    color: #152a45;
  }

  .info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 20vw;
    min-height: 15vw;
    background-color: rgb(244, 235, 52, 0.5);
    border: 3px solid rgb(244, 235, 52);
    border-radius: 25px;
    letter-spacing: 2px;
    padding: 10px;
  }

  .info-child {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 10px;
    width: 22vw;
    min-height: 15vw;
    background-color: rgb(244, 235, 52, 0.5);
    border: 3px solid rgb(244, 235, 52);
    border-radius: 25px;
    letter-spacing: 2px;
  }

  .left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    min-height: 25vw;
    height: auto;
    background-color: rgb(114, 175, 166, 0.5);
    box-shadow: 3px 0px 10px rgb(114, 175, 166);
    border: 4px solid #72afa6;
    border-radius: 25px;
    /* aspect-ratio: 2/1; */

  }

  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(114, 175, 166, 0.5);
    box-shadow: 3px 0px 10px rgb(114, 175, 166);
    border: 4px solid #72afa6;
    border-radius: 25px;
    width: 40vw;
    min-height: 25vw;
    height: auto;
    /* aspect-ratio: 2/1; */
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    padding-top: 25px;
  }

  .arrow-left-t {
    height: 3vw;
    position: absolute;
    top: 50%;
    left: -20%;
    transform: scaleX(-1) translateY(-50%);
  }
  .arrow-right-t {
    height: 3vw;
    position: absolute;
    top: 50%;
    right: -20%;
    transform: translateY(-50%);
  }

  header {
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.5em;
  }

  .calander-top, .calander-bottom {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: .5em;
  }

  .maandag,.dinsdag,.woensdag,.donderdag,.vrijdag,.zaterdag,.zondag {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(244, 235, 52, 0.5);
    border: 3px solid rgb(244, 235, 52);
    height: 5vw;
    width: 5vw;
    border-radius: 25px;
    transition: transform .4s;
  }

  .maandag:hover,.dinsdag:hover,.woensdag:hover,.donderdag:hover,.vrijdag:hover,.zaterdag:hover,.zondag:hover {
    transform: scale(1.2);
  }

.align-right{
  float: right;
}

.popup{
width: 50%;
height: 90%;
position: absolute;
left: 59%;
top: 55%;
transform: translate(-50%, -50%);
display: none;
/* background-color: red; */
}

.popup-container{
  width: 30vw;
  height: 100%;
  background-color: rgba(198, 198, 198, 0.95);
  box-shadow: 3px 0px 10px rgb(173, 172, 172);
  border: 4px solid rgb(173, 172, 172);
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#bodyCon {
  left: .5%;
  top: .8%;
  color: black;
  font-size: 1.8em;
  position: absolute;
}

h2 {
  font-size: 3em;
}

@media(max-width: 50rem) {
  .container {
    flex-direction: column;
  }

   nav {
    font-size: .6em;
  }
}

@media(max-width: 1150px) {
  .info-child, .info, nav {
    font-size: .8em;
  }

  .popup-container {
    width: 50vw;
  }

  .popup {
    left: 50%;
  }
}